@import 'partials/variabels';
@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/header';
@import 'partials/searchBar';

body{
    // height: 100vh;
    background-color: $bg-dark;
    padding: 2rem ;
}


.user{
    // height: 60vh;
    border-radius: $borderRadius;
    background-color: $contentBg-dark;
    padding: 1.3rem;
    color: white;
    &__header{
        display: flex;
    }

    &__image{
        margin-right: 1rem;
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }

    &__name{
        &-link{
            display: inline-block;
           text-decoration: none;
           color: $searchBtn;
           margin-block: 6px;
        }
    }

    &__bio{
        margin:  2rem 1rem;
    }

    &__desc{
        background-color: $bg-dark;
        padding:1.5rem 0.8rem;
        border-radius: $borderRadius;
        display: flex;
        justify-content: space-around;
    }

    &__repo{
        & :first-child{
            margin-bottom:10px;
        }
        .repo-number{
            font-weight: bold;
        }
    }

    &__media{
        padding: 1rem;
        margin-top: 1rem;

        &-link{
         a {
            color: $grayText;
            font-weight: bold;
            margin-left: 0.6rem;
         }

        .svg-container{
            display: inline-block;
            height:40px;
            width: 30px;
        }
         svg{
         transform: translateY(5px);
            width: 80%;
            height: 50%;
         }

        }
    }
}