@import 'partials/variabels';
@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/header';
 @import 'partials/searchBar.scss';

body{
    height: 100vh;
    background-color: $bg-dark;
    padding: 2rem ;
}


