@import 'partials/variabels';
@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/typography';


body{
    height: 100vh;
    background-color: $bg-dark;
    padding: 2rem ;
}

.container{
    border: 2px solid #fff;
}
.header{
        color: white;

        &__titleBox{
           display: flex;
           justify-content: space-between;
    }

    &__togglerBox{
        display: flex;
        align-items: center;

        p{
         text-transform: uppercase;
         margin-right: 10px;
         font-weight:bold ;
        }
    }

}