.container{
    // border: 2px solid #fff;
    height: 100%;
}



.header{
    color: white;

    &__titleBox{
       display: flex;
       justify-content: space-between;
}

&__togglerBox{
    display: flex;
    align-items: center;

    p{
     text-transform: uppercase;
     margin-right: 10px;
     font-weight:bold ;
    }
}

}