@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body{
    font-family: 'Space Mono', monospace;
}


p{
    font-size: 1rem;
    @include desktop{
        font-size: 1.2rem;
    }
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1rem;
    @include desktop{
        font-size: 1.2rem;
    }
}

p,h1,h2,h3{
    letter-spacing:0.2px;
}