// ## COLORS

// ### DARK MODE

$bg-dark: #141c2f;
$contentBg-dark: #1f2a48;
$searchBtn:#067afc;
$grayText:#c8c7c8;

// ###LIGHT MODE

$bg-light: #f6f8ff;
$contentBg-light: #fefefe;
$Dark-Blue: hsl(218, 23%, 16%);
$userColor:#7a7d83;


// BREAKING POINT

$desktop :1000px;
$tablette:450px;

